.perfil-container {
  display: flex;
  justify-content: center;
  padding-top: 120px; /* para no chocar con la navbar */
}

.perfil-card {
  background: #1a1a1a;
  padding: 30px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 0, 128, 0.1);
  color: white;
}

.perfil-title {
  text-align: center;
  margin-bottom: 20px;
}

.perfil-form label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

.perfil-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
}

.perfil-save-btn {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background: #ff4da6;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
