.asistentes-container {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  background: #141414;
  padding: 25px;
  border-radius: 12px;
  color: white;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.back-btn {
  background: #ff77c0;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.asistentes-list {
  list-style: none;
  padding: 0;
}

.asistente-item {
  padding: 15px;
  border: 1px solid #2d2d2d;
  border-radius: 10px;
  margin-bottom: 15px;
  background: #1d1d1d;
}
.asistente-item p {
  margin: 4px 0;
}
.asistente-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a1a1a;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #2a2a2a;
}

.asistente-left p {
  margin: 4px 0;
  color: #fff;
}

.estado-box {
  min-width: 140px;
  padding: 12px 15px;
  text-align: center;
  font-weight: bold;
  color: white;
  border-radius: 8px;
}

.estado-confirmada {
  background-color: #28a745; /* verde */
}

.estado-cancelada {
  background-color: #d9534f; /* rojo */
}
