/* src/pages/organizer/EventsList/EventList.css */

.event-list-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: "Poppins", sans-serif; 
}

.event-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-title {
  font-size: 32px;
  font-weight: 700;
}

.event-subtitle {
  font-size: 15px;
  color: #777;
}

.create-event-btn {
  background: #7CDAF9; 
  color: #000;        
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-family: "Poppins", sans-serif; 
  transition: 0.2s ease-in-out;
}

.create-event-btn:hover {
  background: #5bc3e2;
}


.event-card-btn {
  background: #ffffff !important; 
  color: #000000 !important;      
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  border: 1px solid #ddd;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.event-card-btn:hover {
  background: #f2f2f2 !important;
}
