.back-btn {
  background-color: #2b2b2b;
  color: white;
  font-size: 0.95rem;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.3s;
}

.back-btn:hover {
  background-color: #000;
  transform: scale(1.03);
}
