/* src/components/EventCard/EventCard.css */

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 550px;
  position: relative;
  box-sizing: border-box;
  margin: 15px;
}

.tag {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0 0 0 10px;
  z-index: 10;
}

.card-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px 15px 10px 15px;
  gap: 10px;
}

.title {
  font-weight: 400;
  font-size: 16px;
}

.date {
  font-weight: 600;
  font-size: 14px;
  color: #aaa;
}

.reserve-button {
  margin-top: auto;
  padding: 8px 15px;
  font-weight: 800;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: background-color 0.2s;
}

.reserve-button:hover {
  background-color: #ddd;
}

/* BOTONES ADMIN (dashboard organizer) */
.admin-buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.admin-buttons button {
  flex: 1;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  font-size: 14px;
}

.admin-buttons button:hover {
  background: #f0f0f0;
}

/* GRID GENERAL */
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  justify-items: center;
  padding: 20px;
  padding-bottom: 100px;
}

@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}


.event-card-btn {
  background: #ffffff !important;
  color: #000 !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  border: 1px solid #ddd;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.event-card-btn:hover {
  background: #f2f2f2 !important;
}
