
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 70vh;
  position: relative;
  box-sizing: border-box;
  margin: 15px;
  border-radius: 16px;
  overflow: hidden;              
  font-family: "Poppins", sans-serif;
}

/* Categoría (izquierda) */
.category-badge {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  color: black;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 0 0 0 10px; 
  z-index: 10;
}

/* Estado (derecha) */
.tag {
  position: absolute;
  top: 0;
  right: 0;

  padding: 5px 10px;
  font-size: 13px;
  font-weight: 700;

  border-radius: 0 0 0 10px;
  z-index: 10;

  background: white;
  color: black;
}

/* COLORES SEGÚN ESTADO */
.tag-próximamente {
  background: #7cdaf9;
  color: #000;
}

.tag-en\ curso {
  background: #d29bff;
  color: #000;
}

.tag-finalizado {
  background: #999;
  color: white;
}

.tag-agotado {
  background: #ff6b6b;
  color: white;
}

.tag-disponible {
  background: #8df57b;
  color: #000;
}

.card-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 15px 10px 15px;
  gap: 8px;
}

.title, date, cupos {
  font-weight: 600;
  font-size: 18px;
  color:#ffffff
}

.event-card-btn {
  background: #ffffff !important;
  color: #000000 !important;
  font-weight: 700 !important;
  border: 1px solid #ddd;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.event-card-btn:hover {
  background: #f2f2f2 !important;
}

/* RESERVAR botón (público) */
.reserve-btn {
  background: #7cdaf9 !important;
  color: #000 !important;
  border: none !important;
  font-weight: 800 !important;
}

.reserve-btn:hover {
  background: #5bc3e2 !important;
}

.admin-buttons {
 
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.admin-buttons button {
  flex: 1;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  justify-items: center;
  padding: 20px;
  padding-bottom: 100px;
}

.info-line {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #555;
}


@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

.image-container {
  width: 100%;
  height: 300px; 
  overflow: hidden;
  border-radius: 10px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.attendees-btn {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  background: #ff9ad5;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.attendees-btn:hover {
  background: #ff7ac2;
}
