#navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1100px;
  background-color: #2b2b2b;
  border-radius: 9999px;
  padding: 16px 32px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 25px;
}

/* LOGO */
.navbar-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 28px;
  background: linear-gradient(90deg, #ffb3db 0%, #7cdaf9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LINKS */
.navbar-links {
  display: flex;
  gap: 35px;
}

.navbar-links a {
  color: #cccccc;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a:hover {
  color: white;
}

/* ACTIONS */
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* SEARCH INPUT */
.nav-search-input {
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #444;
  background: #1f1f1f;
  color: white;
  width: 180px;
  font-size: 14px;
}

.nav-search-input::placeholder {
  color: #bbb;
}

/* USER LOGGED */
.navbar-user {
  background-color: #444;
  color: #ffffff;
  padding: 8px 18px;
  border-radius: 9999px;
  font-size: 15px;
  font-weight: 500;
}

/* DEFAULT AVATAR */
.user-icon {
  width: 35px;
  height: 35px;
  background-color: #ffb3db;
  border-radius: 50%;
  cursor: pointer;
}

/* SIGN IN BUTTON (AZUL) */
.sign-in-button {
  background-color: #7cdaf9;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 9999px;
  padding: 8px 18px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.sign-in-button:hover {
  background-color: #389acb;
}

/* LOGOUT RED */
.sign-out-button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 9999px;
  padding: 8px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.sign-out-button:hover {
  background-color: #e63946;
  transform: scale(1.05);
}
